@model CityViewModel

<table class="table table-sm table-bordered">
    <tr>
        <td class="text-left">Cities:</td>
        <td class="text-right">@Model.Cities</td>
    </tr>
    <tr>
        <td class="text-left">Population:</td>
        <td class="text-right">@Model.Population</td>
    </tr>
</table>
